*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #27282d;
}
header{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

input{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display: block;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 3em;;
    border-radius: 15px;
    background-color: whitesmoke;
}
[type=text]{
    padding: 15px;
}